Flask==3.0.3
gunicorn==22.0.0
firebase-admin==6.5.0
python-dotenv==1.0.1
flask-login==0.6.3
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
flask-socketio==5.3.6
eventlet==0.35.2
